<h1 class = "display-4 text-primary">ブログ削除</h1>
<p>以下を削除してもいいですか？</p>
<table class = "table">
    <tr><th>Id</th>
        <td><%= @blogpost.id %></td>
    </tr>
    <tr><th>Title</th>
        <td><%= @blogpost.title %></td>
    </tr>
    <tr><th>Read</th>
        <td><%= @blogpost.read %></td>
    </tr>
    <tr><th>Content</th>
        <td><%= @blogpost.content %></td>
    </tr>
</table>
<%= form_tag controller: "blogposts", action: "destroy" do %>
    <%= hidden_field_tag "id", {value: @blogpost.id} %>
    <%= submit_tag "削除" %>
<% end %>