<!DOCTYPE html>
<html>
    <head>
        <title>MyBlog</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <%= stylesheet_link_tag 'blog', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'actiontext', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= yield %>
        <div class = "mt-5 text-center small text-scondary border-top border-scondary">2020 YU-Blog.</div>
    </body>
</html>
